<div class="jumbotron">
	<div style="margin: auto; text-align: center;">
	<h1>Sign up or log in</h1>
	<p><%= link_to "Log in", "#", class: "btn btn-primary btn-lg" %></p>
	<p><%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
	</div>
</div>